# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
env/
.venv/
.env/

# Flask
instance/
*.sqlite

# Jupyter Notebook
.ipynb_checkpoints

# VS Code
.vscode/

# PyCharm
.idea/

# Selenium & WebDriver
webdriver_manager/

# Log files
*.log

# ngrok
ngrok.yml

# Render
render.yaml
